.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.icon-inside-input-left {
  max-height: 12px;
  max-width: 12px;
  min-height: 12px;
  min-width: 12px;
  position: absolute;
  left: 14px;
}

.flex-horizontal {
  justify-content: center;
  align-items: center;
  display: flex;
}

.helper-text {
  color: #aab1c6;
  font-size: 12px;
}

.application_form {
  background-color: rgba(237, 237, 237, 0);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.success-message-2 {
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(20, 20, 43, .09);
}

.status-text.current {
  color: #0d6efd;
  font-weight: 700;
}

.progress-tracker-container {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  display: flex;
}

.text-100 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286em;
}

.text-100.medium {
  font-weight: 500;
}

.application_step {
  max-width: 700px;
  background-color: #fff;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  padding: 24px 36px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .09);
}

.text-block-2 {
  max-width: 400px;
  color: #828aa3;
  margin-bottom: 24px;
}

.heading {
  display: inline-block;
}

.image-2 {
  margin-bottom: 16px;
}

.icon-inside-input-right {
  z-index: 1;
  max-height: 12px;
  max-width: 12px;
  min-height: 12px;
  min-width: 12px;
  font-size: 12px;
  line-height: 1em;
  position: absolute;
  right: 14px;
}

.dash {
  width: 10px;
  height: 1px;
  border: 1px solid #828aa3;
  border-radius: 0;
  display: inline-block;
}

.radio-button-field {
  color: #828aa3;
  font-weight: 500;
}

.field-label {
  max-width: 450px;
}

.link-icon {
  max-width: 10px;
}

.red {
  color: #dc2b2b;
}

.field-label-2 {
  max-width: 400px;
}

.btn-primary {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#3d7fff, #4b5dff);
  border: 1px solid #3961d9;
  border-radius: 76px;
  justify-content: center;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.286em;
  text-decoration: none;
  transition: box-shadow .3s, transform .3s, background-color .3s, color .3s;
  box-shadow: 0 1px 4px rgba(74, 58, 255, .26);
}

.btn-primary:hover {
  color: #fff;
  transform: scale3d(1.02, 1.02, 1.01);
  box-shadow: 0 2px 16px 1px rgba(74, 58, 255, .3);
}

.position-relative---z-index-1 {
  z-index: 1;
  position: relative;
}

.text-center {
  text-align: center;
  margin-bottom: 24px;
}

.form-instructions {
  margin-bottom: 16px;
}

.input {
  min-height: 40px;
  color: #828aa3;
  background-color: #fff;
  border: 1px solid #e6e9f1;
  border-radius: 6px;
  margin-bottom: 0;
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286em;
  transition: color .3s, border-color .3s;
  box-shadow: 0 0 4px rgba(20, 20, 43, .09);
}

.input:hover {
  border-color: #aab1c6;
}

.input:focus {
  border-color: #0d6efd;
}

.input::-ms-input-placeholder {
  color: #828aa3;
}

.input::placeholder {
  color: #828aa3;
}

.input.icon-inside-right {
  padding-right: 32px;
}

.input.icon-inside-left {
  padding-left: 32px;
}

.btn-secondary {
  color: #1f2d54;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 1px solid #e6e9f1;
  border-radius: 76px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.286em;
  text-decoration: none;
  transition: transform .3s, box-shadow .3s, border-color .3s, background-color .3s, color .3s;
  box-shadow: 0 2px 4px rgba(20, 20, 43, .04);
}

.btn-secondary:hover {
  color: #1f2d54;
  transform: scale3d(1.02, 1.02, 1.01);
  box-shadow: 0 2px 6px rgba(20, 20, 43, .1);
}

.buttons-row {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
  display: flex;
}

.form-input {
  margin-bottom: 16px;
}

.success-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.form-block {
  justify-content: center;
  display: flex;
}

.dependent-fields {
  margin-bottom: 16px;
  display: none;
}

.mg-bottom-6px {
  margin-bottom: 6px;
}

.select-field {
  height: 40px;
  color: #828aa3;
  background-color: #fff;
  border-width: 1px;
  border-color: #e6e9f1;
  border-radius: 6px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  font-weight: 500;
  box-shadow: 0 0 4px -20px rgba(20, 20, 43, .09);
}

.select-field.state {
  max-width: 150px;
  color: #828aa3;
  background-color: #fff;
  border: 1px solid #e6e9f1;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(20, 20, 43, .09);
}

.select-field.gender {
  max-width: 150px;
}

.select-field.race {
  max-width: 300px;
}

@media screen and (min-width: 1440px) {
  .status-text {
    color: #aab1c6;
  }

  .status-text.current {
    color: #0d6efd;
    font-weight: 700;
  }

  .progress-tracker-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    display: flex;
  }

  .dash {
    width: 16px;
    height: 1px;
    border: 1px solid #aab1c6;
  }

  .red {
    color: #dc2b2b;
  }

  .form-instructions {
    margin-bottom: 24px;
  }

  .form-input, .dependent-fields {
    margin-bottom: 16px;
  }

  .inner-container.padding {
    margin: 48px 96px;
  }

  .select-field {
    color: #1f2d54;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 0;
    padding: 14px;
  }
}

@media screen and (max-width: 767px) {
  .application_step {
    box-shadow: 0 2px 12px rgba(20, 20, 43, .04);
  }
}

#w-node-b34d6923-1fd9-20bd-4418-0e0e368f6554-f040d62f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-b34d6923-1fd9-20bd-4418-0e0e368f64e8-f040d62f, #w-node-b34d6923-1fd9-20bd-4418-0e0e368f661c-f040d62f, #w-node-b34d6923-1fd9-20bd-4418-0e0e368f6691-f040d62f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
